<app-header></app-header>
<div class="lg:max-w-5xl flex justify-center m-auto w-full flex-col">
  <app-products-nav-bar></app-products-nav-bar>
  <div class="flex items-center justify-center">
    <div class="grid grid-cols-4 gap-8">
      <app-card-product></app-card-product>
      <app-card-product></app-card-product>
      <app-card-product></app-card-product>
      <app-card-product></app-card-product>
      <app-card-product></app-card-product>
      <app-card-product></app-card-product>
      <app-card-product></app-card-product>
      <app-card-product></app-card-product>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
